 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-justify left5 right5">
                <p>Hi, I'm Rahul, a mobile application developer, living in New Delhi, India. Currently I spend my days working as iOS Developer with <a href="http://in.instantsys.com">Instant Systems Inc.</a> working on <a href="https://itunes.apple.com/us/app/goldcleats-player-app/id1134964817?mt=8">GoldCleats app</a> and <a href="https://itunes.apple.com/us/app/goldcleats-pro-app/id1326007717?mt=8">Goldcleats Pro app</a>. Previously I have worked with <a href="http://sportido.com">IDO Sport Pvt. Ltd</a> as iOS Developer, where I managed the development of full lifecycle of <a href="https://itunes.apple.com/in/app/sportido-find-players-and-places-to-play-sports/id1116512491?mt=8">Sportido</a> iOS application from the scratch.</p>
                <br/>
                <p>I graduated from Guru Gobind Singh Indraprastha University where I studied B.Tech (IT) and got a first class degree. While I was at university I interned with <a href="http://www.greedygame.com">GreedyGame Media Pvt. Ltd</a> and SO Infotech Ltd. that helped me to further hone in my skills as a developer. In my final year at the university, I joined <a href="http://sportido.com">IDO Sport Pvt. Ltd</a> as iOS Developer, working alongside completing my graduation. After graduating, I continued working with <a href="http://sportido.com">IDO Sport Pvt. Ltd</a> as a Full Time Employee.</p>
                <br/>
                <p>I’m extremely passionate about app development and design in all it’s forms. When not at work I'm usually working on a new project or learning about new things. Aside from development, I enjoy spending time in reading, watching movies and series & hanging out with friends.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/0BztIjFfatKK6MEo1ZUpyeVZ6bmM/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>