 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-justify col-lg-6">
                <p>Hi, I'm Rahul, a mobile application developer, living in New Delhi, India. Currently I spend my days working as Lead iOS Developer for IDO Sport Pvt. Ltd.</p>

                 <p>I graduated from Guru Gobind Singh Indraprastha University where I studied B.Tech (IT) and got a first class degree. While I was at university I interned with GreedyGame Media Pvt. Ltd and SO Infotech Ltd. that helped me to further hone in my skills as a developer. In my last year at the university, I joined IDO Sport Pvt Ltd as iOS Developer, working alongside with completing my graduation. After the completion of my graduation, I continued working with IDO Sport Pvt Ltd as Lead iOS Developer.</p>
                    
                <p>I’m extremely passionate about app development and design in all it’s forms. When not at work I'm usually working on a new project or learning about new things which could be anything like Python, Server side scripting, etc. Aside from development, I enjoy spending time in reading, watching movies and seasons & hanging out with friends.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>