<section id="projects" >
	<div style="float:left" class="skills">  
		<h3 style="color:green;">Skills:</h3>
		<br>
		<center><h4>iOS SDK <br> Android ADT <br> Core Data <br> Xcode <br> OOPS <br> Git </h4></center>

  </div>
  
<div class="container">
  <h1 style="color:green";>PROJECTS</h1>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/ChitChat_iOS">ChitChat</a></strong>
			- An iPhone based application, which uses Multipeer Connectivity Framework, enables you to chat with people around you – even if there is no Internet connection or mobile phone coverage. Connected peers are able securely transmit messages, streams, or file resources to other devices without going through an intermediary web service.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/ZipLocator_iOS">ZIP Locator</a></strong>
			- An iPhone based application which gives all the information of the supplied Postal Code and display the location on Map.
		</h5>

		<br>
		<br>

    	<h5 align="justify">
    		<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/IPLookup_iOS">IP Lookup</a></strong>
			- An iPhone based application which list all the details like country, region, longitude, latitude of a  specified IP address.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/ToDo_iOS">ToDo List</a></strong>
			- An iPhone based application which manages task effectively and reminds you at a specific time.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/dailyrun_gps.png" alt="Responsive image"></center>
			
			<i class="fa fa-windows"></i>&nbsp;&nbsp;<strong><a href="http://www.windowsphone.com/en-in/store/app/dailyrun-gps/1d2d408c-5743-4d27-8235-28e54dd03358">DailyRun GPS</a></strong>
			- A very easy to use application specially designed for Windows Phone 8 which tracks the path and measures the running distance, as well as calories burned during this time. It measures the distance using phone's inbuilt GPS receiver.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/PNGBill_Android">PNG Bill</a></strong>
			- An Android based application which calculates the bill of PNG.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/contacts_list.png" alt="Responsive image"></center>
			
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Contacts List</a></strong>
			- An android based application which manages the contacts and perform many operations such as adding a contact, deleting a contact, attaching email id and many more.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/temp_converter.png" alt="Responsive image"></center>
			
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rahulgarg12/TemperatureConverter_Android">Temperature Converter</a></strong>
			- An Android based application which converts the temperature from Fahrenheit to Celsius and vice-versa.
		</h5>

		<br>
		<br>

		<h5 align="justify">
			<center><img class="img" src="{{ site.baseurl }}static/img/" alt="Responsive image"></center>
			
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Airline Reservation System</a></strong>
			- Airline ticketing reservation system which keeps the record of passengers and employees working in an organisation.
		</h5>

    </div>
  </div>
</div>
</section>